{% set words = 50 %}
<div class="blog-grid-item">
    {% if post.image_url is not null %}
  <a class="blog-grid-item__thumb-link grid-item__thumb-image " href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}" style="background-image: url('{{ post.image_url }}?w=370&h=240&fit=crop');">
    {% else %}
  <a class="blog-grid-item__thumb-link grid-item__thumb-no-image " href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">
    {% endif %}
  </a>
  <h5 class="blog-grid-item__title">
  	<a href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}">{{ post.title | escape }}</a>
  </h5>
  <p class="blog-grid-item__summary">{{ post.summary | truncate_words(30) }}</p>
  <a href="/blogs/{{ blog.permalink }}/posts/{{ post.permalink }}" class="btn blog-read-more">Leer más</a>
</div>